@mixin ff($name, $path, $weight, $style) {

  @font-face {
      font-family: $name;
      src: url('#{$path}.otf') format('woff2'),
          url('#{$path}.otf') format('ttf'),
          url('#{$path}.otf') format('otf'),
          url('#{$path}.otf') format('woff');
      font-weight: #{$weight};
      font-style: #{$style};
  }
}

@include ff("BasisGrotesqueProMedium", "../fonts/BasisGrotesquePro/BasisGrotesqueProMedium", 500, normal);
@include ff("BasisGrotesqueProMono", "../fonts/BasisGrotesquePro/BasisGrotesqueProMono", normal, normal);
@include ff("BasisGrotesqueProMonoItalic", "../fonts/BasisGrotesquePro/BasisGrotesqueProMonoItalic", 300, normal);